---
BasedOnStyle: WebKit
UseTab: Always
IndentWidth: 4
TabWidth: 4

AlignAfterOpenBracket: DontAlign
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach
ExperimentalAutoDetectBinPacking: true
IndentCaseLabels: true

SpacesInAngles: true
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: true
SpaceInEmptyParentheses: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
---
